<h1>Contributors and there Responsibilities</h1>
<div>
    <h3>Frontend: AngularJS</h3>
    <ul>
        <li>Michael Sasota</li>
        <li>Jack Chen</li>
        <li>Allen Li</li>
    </ul>
    
    <h3>Backend: MongoDB and express</h3>
    <ul>
        <li>Saijal Suri</li>
    </ul>
     <h3>Contact Us:</h3>
    <form>
    
 
  First name:
  <input type="text" name="firstname" value=""><br>
  Last name:
  <input type="text" name="lastname" value=""><br>
  Email:
  <input type="text" name="lastname" value=""><br><br>
  Comments:<br>
  <textarea cols="40" rows="5" name="lastname" value="">Leave us a message!</textarea><br>
  <input type="submit" value="Submit" onclick="doConnect()">
</form> 
</div>
<script>
function doConnect() {
	const mongo = require('mongodb').MongoClient;
 	var url = 'mongodb://admin:givemeaccess01@ds229701.mlab.com:29701/comments';
	mongo.connect(url, (err, db) => {
		if(err) { 
			console.log(err);
		} else {
			console.log("YAYY");
			alert("Successfully saved comment in database!");
			
		}
	})
}

</script>
