<h1>Contributors and there Responsibilities</h1>
<div>
    <h3>Frontend: AngularJS</h3>
    <ul>
        <li>Michael Sasota</li>
        <li>Jack Chen</li>
        <li>Allen Li</li>
    </ul>
    
    <h3>Backend: MongoDB and express</h3>
    <ul>
        <li>Saijal Suri</li>
    </ul>
    <h3>Contact Us:</h3>
    <form method="post" action="/createComment">
    
  
  First name:
  <input type="text" name="firstName" value="" required><br>
  Last name:
  <input type="text" name="lastName" value="" required><br>
  Email:
  <input type="text" name="email" value="" required><br><br>
  Comments:<br>
  <textarea cols="40" rows="5" name="comment" value="" required>Leave us a message!</textarea><br>
  <input type="submit" value="Submit">
</form> 
</div>
<script>
</script>
