<h1>Conclusion</h1>
<div style="width: 80%; margin: 20px auto;">
    <h2>Angular.js</h2>
    <mark class="rating">Rating: 4 / 5</mark>
    <br>
    <br>
    <table class="table-rating">
        <tr>
            <th>PROS</th>
            <th>CONS</th>
        </tr>
        <tr>
            <td>+ Easy to install</td>
            <td>- Hard to learn for first timers</td>
        </tr>
        <tr>
            <td>+ Javascript coder friendly</td>
            <td>- Hard to navigate through</td>
        </tr>
        <tr>
            <td>+ Lots of tutorials available</td>
        </tr>
        <tr>
            <td>+ Realtime preview</td>
        </tr>
    </table>
    <p>Angular 7 was a really nice framework to work with. It had simple installation process which didnt take too long to install and get right into making a simple web application. However it does have the problem of having quite a few directories to navigate but in the end it was doable. Compared to HTML/CSS/Javascript/PHP the learning curve would be a little steep for people who has little to no experience with HTML/CSS/Javascript/PHP but because Angular.js is widely used there are a ton of helpful tutorials that can help you achieve what you want in the web application. In the end in my opinion I would keep using the Angular framework as the experience was quite and experience that was hard a first but rewarding once everything worked.</p>
    
    <h2>Node.js</h2>
    <mark class="rating">Rating: ? / 5</mark>
    <br>
    <br>
    <table class="table-rating">
        <tr>
            <th>PROS</th>
            <th>CONS</th>
        </tr>
        <tr>
            <td>+ Positive Point</td>
            <td>- Negative Point</td>
        </tr>
    </table>
    <p>Conclusion</p>
    
    <h2>express</h2>
    <mark class="rating">Rating: ? / 5</mark>
    <br>
    <br>
    <table class="table-rating">
        <tr>
            <th>PROS</th>
            <th>CONS</th>
        </tr>
        <tr>
            <td>+ Positive Point</td>
            <td>- Negative Point</td>
        </tr>
    </table>
    <p>Conclusion</p>
    
    <h2>MongoDB</h2>
    <mark class="rating">Rating: ? / 5</mark>
    <br>
    <br>
    <table class="table-rating">
        <tr>
            <th>PROS</th>
            <th>CONS</th>
        </tr>
        <tr>
            <td>+ Positive Point</td>
            <td>- Negative Point</td>
        </tr>
    </table>
    <p>Conclusion</p>
</div>
